html, body{
    float: none;
    margin: 0px;
    scroll-behavior: smooth!important;
}

.fullScreen{
    min-height: 100vh!important;
    max-height: fit-content!important;
}

/* @font-face{
    font-family: 'Open Sans', sans-serif;
    src: url('/assets/fonts/creativemarket-251757-fontatica-4f/TTF/Fontatica4F.ttf');
} */
.openSans {
    font-family: 'Open Sans', sans-serif;
}
.pColor{
    color: #FE5959!important;
}
.orange{
    color: #FE5959!important;
}
.pink{
    color:#FF00A8!important;
}
.pinkBg{
    background: #FF00A8!important;
}
a{
    color: inherit!important;
}
.logo {
    font-family: 'Open Sans', sans-serif;
    color: #FE5959!important;
}
.pinkLogo {
    font-family: 'Open Sans', sans-serif;
    color: #FF00A8!important;
}
.pinkPills > .active {
    background-color: #FF00A8!important;
    color:#ffffff!important;
}
.orangePills > .active{
    background-color: #FE5959!important;
    color:#ffffff!important;
}
